*
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.header{
  padding: 20px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header .logo{
cursor: pointer;
font-size: 32px;
width: 15%;
height: 15%;
}

.header .nav ul{
  display: flex; 
}

.header .nav ul li{
  margin-right: 20px;
  list-style: none;
  margin-top: 1rem;
}

.header .nav ul li .link{
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-family: 'times new roman';
  font-weight: bold;
}

.movies-container{
  padding: 30px 80px;
  width: 100%;
}

.movies-container h1{
  font-family: 'times new roman';
  font-weight: bold;
}

.movies-container .main-movies{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.movies-container .main-movies .box{
  cursor: pointer;
  width: 300px;
  height: 450px;
  background: #ebebeb;
  margin-top: 20px;
  overflow: hidden;
  padding: 18px 25px;
  border-radius: 20px;
}

.movies-container .main-movies .box .img-box img{
  height: 250px;
  width: 250px;
  border-radius: 20px;
}

.movies-container .main-movies .box .detail .category-price h4{
  font-family: 'times new roman';
  font-weight: bold;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin-top: 0;
}

.movies-container .main-movies .box .detail .category-price p{
  margin-top: 4px;
}

.movies-container .main-movies .box .detail .info{
  display: flex;
  justify-content: space-between;
}

.movies-container .main-movies .box .detail .category-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies-container .main-movies .box .detail .info .rating{
  margin-top: 15px;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  font-family: 'times new roman';
  font-weight: bold;
  font-size: 17px;
}

.movies-container .main-movies .box .detail h2{
  font-size: 20px;
  font-family: 'times new roman';
  text-transform: uppercase;
  font-weight: 200;
  color: rgb(255, 0, 0);
  margin-top: 25px;
}

.movies-container .main-movies .box .detail .addtocart{
  margin-left: 20%;
  padding: 10px 30px;
  background: #ff0000;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  outline: none;
  font-family: 'times new roman';
  font-weight: bold;
  font-size: 17px;
}

.empty_cart{
  margin-top: 15%;
  margin-left: 5%;
  font-family: 'times new roman';
}

.movie_selection{
  margin-left: 48%;
  margin-top: 3%;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  outline: none;
  background: red;
  cursor: pointer;
}

.cart_container{
  padding: 20px 30px;
  width: 100%;
}

.cart_container .cart_movies{
  max-width: 100%;
  display: grid;
  justify-content: center;
  flex-wrap: wrap;
}

.cart_container .cart_movies .cart_box{
    cursor: pointer;
    width: 800px;
    height: 270px;
    background: #ebebeb;
    margin-top: 20px;
    overflow: hidden;
    padding: 18px 25px;
    border-radius: 20px;
}

.cart_container .cart_movies .cart_box .cart_movies_container{
  display: flex ;
  margin-top: 1rem;
}

.cart_container .cart_movies .cart_box .cart_movies_container .cart_img_box img{
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.cart_container .cart_movies .cart_box .cart_movies_container .cart_item_detail{
  margin-left: 8rem;
  font-family: 'times new roman';
}

.cart_container .cart_movies .cart_box .cart_movies_container .cart_item_detail h2{
  font-size: 16px;
  color: #ff0000;
  text-transform: uppercase;
}

.cart_container .cart_movies .cart_box .cart_movies_container .cart_item_detail h3{
  margin-top: 20px;
  font-weight: 200;
  text-transform: uppercase;
  font-family: 'times new roman';
  font-size: 14px;
}

.cart_container .cart_movie .cart_box .cart_movies_container .cart_item_detail .quantity_input{
  width: 60px;
  height: 35px;
  border: 2px solid #ff0000;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  margin: 0 10px;
  color: #333;
  background-color: #f9f9f9;
}

.cart_container .cart_movies .cart_box .cart_movies_container .cart_item_detail .quantity_dec{
  padding: 2px 6px;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart_container .cart_movies .cart_box .cart_movies_container .cart_item_detail .quantity_inc{
  padding: 2px 6px;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart_container .cart_movies .cart_box .cart_movies_container .remove_cart{
  background: red;
  border: none;
  border-radius: 10px;
  outline: none;
  width: 30px;
  height: 30px;
  color: #ffffff;
  margin-bottom: 40px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
}

.checkout{
  margin-left: 45%;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  outline: none;
  background: #ff0000;
  color: #ebebeb;
  cursor: pointer;
  margin-top: 20px;
}

.cart_total{
  margin-left: 46.5%;
  font-size: 18px;
  font-family: 'times new roman';
}

.image-slider {
  position: relative;
  height: 500px;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.image {
  width: 900px;
  height: 350px;
  border-radius: 12px;
}
.left {
  position: absolute;
  left: 3rem;
  top: 25%;
  font-size: 1rem;
  color: blue;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}
.right {
  position: absolute;
  right: 3rem;
  top: 25%;
  font-size: 2rem;
  color: blue;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}
.currentSlide {
  transition-duration: 0.5s ease;
  opacity: 0;
}
.currentSlide.active {
  opacity: 1;
  transition-duration: 0.5s;
  transform: scale(1.2);
}
h2 {text-align: center;} 

.slider-header{
  font-family: 'times new roman';
  margin-top: 1rem;
  justify-content: center;
}

.search-container{
  margin-top: -7rem;
  position: relative;
  z-index: 10;
}

.search-bar{
  display: flex;
  align-items: center;
  margin-left: 600px;
  border: #ff0000;
}

.search-icon{
  margin-right: 10px;
}

.buttons{
  display: flex; 
  justify-content: center;
  margin-top: 1rem;
  cursor: pointer;
}

.buttons .button2{
  margin-left: 60px;
  margin-right: 60px;
}

.buttons .button3{
  margin-right: 60px;
}

.nav-button-footer{
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5rem;
}

.nav-button-footer:hover{
  background-color: #ddd;
  color: #333;
  border-radius: 10px;
}

.nav .link:hover{
  background-color: #ddd;
  color: #333;
  border-radius: 5px;
  padding: 10px 20px;
}

.nav .button-icon{
  margin-right: 10px;
}

.link .active{
  color: #ff0000;
}

.about{
  text-align: justify;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 3rem;
}

.about-img{
  width: 50%;
  height: 50%;
  margin-top: 3rem;
  margin-left: 23rem;
}

.badge{
  position: absolute;
  margin-left: -5.1rem;
  margin-top: -1.1rem;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 0.8rem;
}

.help-item{
  margin-bottom: 20px;
}

.question-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 2rem;
  width: 100%;
}

.question-button:hover {
  background-color: #e0e0e0;
}

.answer {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-top: none;
}

.transition-all {
  transition-property: max-height, opacity;
}

.max-h-0 {
  max-height: 0;
}

.max-h-full {
  max-height: 1000px;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.question{
  font-family: 'times new roman';
  margin-left: 1rem;
}

.about-header1{
  margin-top: 2rem;
  margin-left: 3rem;
  font-family: 'times new roman';
  font-weight: bolder;
}

.about-header2{
  font-family: 'times new roman';
  margin-left: 3rem;
}

.login-page{
  width: 30%;
  height: 30%;
  margin-left: 35%;
  margin-top: 2rem;
}

.login-header{
  margin-left: 4%;
  margin-top: 2rem;
  font-family: 'times new roman';
}

.login-box{
  cursor: pointer;
  width: 400px;
  height: 350px;
  background: #d8d8d8;
  margin-top: 20px;
  overflow: hidden;
  padding: 18px 25px;
  border-radius: 20px;
  margin-left: 38.4%;
}

.login-container{
  width: 300px;
  height: 350px;
  padding: 18px 25px;
  border-radius: 20px;
  margin-left: 2%;
}

.login-email{
  width: 280px;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
}

.login-password{
  width: 280px;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
}

.password-container{
  margin-top: 1rem;
}

.login-button button{
  width: 70%;
  height: 40px;
  margin-left: 20%;
  margin-top: 2rem;
  border: none;
  color: #ffffff;
  background-color: #ff0000;
  border-radius: 10px;
}

.not-account{
  margin-left: 60px;
}

.sign-up{
  margin-left: 30px;
}

.add-to-cart-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff6b01;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

.add-to-cart-button:hover {
  background-color: #e65b00;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.add-to-cart-button, .rating-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  flex: 1;
  margin-right: 5px;
}

.add-to-cart-button {
  background-color: #ff6b01;
  color: white;
}

.add-to-cart-button:hover {
  background-color: #e65b00;
}

.rating-button {
  background-color: #00ff11;
  color: #333;
  flex: 0.5;
  text-align: center;
}

.rating-button:hover {
  background-color: #ffcc00;
}

.title-cards {
  text-align: center;
  margin: 50px 0 20px;
}

.title-cards h2 {
  font-size: 28px;
  color: #333;
  font-family: 'Times New Roman', serif;
}

.cards-list {
  display:flex;
  width: 5000px;
  max-block-size: 100%;
  gap: 30px;
  padding-bottom: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.cards-list::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
  width: 5000px;
  max-width: 800px;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background: linear-gradient(145deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.05);
}

.card p {
  position: absolute;
  bottom: 30px;
  width: 100%;
  left: 30px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
  .cards-list {
    gap: 20px;
  }
  .card {
    width: 600px;
    height: 450px;
  }
}

@media (max-width: 800px) {
  .title-cards h2 {
    font-size: 24px;
  }
  .card {
    width: 500px;
    height: 400px;
  }
}

@media (max-width: 600px) {
  .title-cards h2 {
    font-size: 22px;
  }
  .card {
    width: 450px;
    height: 350px;
  }
}

@media (max-width: 500px) {
  .title-cards h2 {
    font-size: 20px;
  }
  .card {
    width: 400px;
    height: 5000px;
  }
  .card p {
    font-size: 18px;
  }
}